body{background-image: url("images/bot.jpeg");
background-attachment: scroll;
background-repeat: repeat-y;
 
}
.head{text-align= center;
font-family:Arial;
width: 800px;
border: 15px solid green;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 200px;
margin: auto;
background-color: cyan;
opacity: 0.7;
border-radius: 25px;

}
#info{
background-image: linear-gradient(to right, red , yellow);
margin-top: 0px;
margin-left:0px;
margin-right: 0px;
margin-bottom: 0px;
opacity: 0.7;
border-radius: 25px; 
font-size: 150%;
text-align: center;
border: 15px solid green;

}
div.bot{border: 15px solid green;
margin-top:0px;
margin-left:0px;
margin-right: 0px;
margin-bottom: 0px;
text-align: center;
background-image: linear-gradient(to right, red , yellow);
opacity: 0.7;
border-radius: 25px; 
font-size: 150%;
}

div.tryagain{
border: 15px solid green;
margin-top:0px;
margin-left:0px;
margin-right: 0px;
margin-bottom: 0px;
text-align: center;
background-image: linear-gradient(to right, red , yellow);
opacity: 0.7;
border-radius: 25px; 
font-size: 150%;

}


