<!DOCTYPE html>
{% load static %}
<html>
<head>
<base href="/">
<meta charset="utf-8">
<title>Home Page</title>
<link href="{% static 'css/homep.css' %}" rel="stylesheet">
</head>
<body>

<h1 class="head" >Welcome!! Zed-Bot is at your command</h1>


<p id='info'>Zed Bot is here to assist you with all your Needs</p>
<div class="bot">
<p id='va'>
<a href="/voiceassistant/"><img src="https://www.internetandtechnologylaw.com/files/2019/06/iStock-872962368-chat-bots.jpg" alt="image of a bot" width="40" height="40"></a>
</p>
<p>Click The Bot to activate Voice Assistant</p>
</div>
</body>
</html>